*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;

}


:root{

--primary-blue:#0077B6;
--secondary-blue:#00B4D8;
--light-blue:#CAF0F8;
--white:#FFFFFF;
--dark-grey:#555555;
--shadow:
0px 10px 25px rgba(0,0,0,0.08);

}


body{

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:30px;

background:

linear-gradient(
135deg,
#CAF0F8,
#FFFFFF
);

}


.container{

width:100%;
max-width:550px;

}


.logo-section{

text-align:center;

margin-bottom:25px;

}


.logo{

width:120px;
margin-bottom:15px;

}


.logo-section h1{

color:var(--primary-blue);

margin-bottom:10px;

}


.logo-section p{

color:var(--dark-grey);

}


.forgot-card{

background:white;

padding:40px;

border-radius:25px;

box-shadow:var(--shadow);

animation:fadeIn 0.7s ease;

}


.forgot-card h2{

text-align:center;

color:var(--primary-blue);

margin-bottom:15px;

}


.sub-title{

text-align:center;

margin-bottom:30px;

color:var(--dark-grey);

}


form{

display:flex;

flex-direction:column;

}


label{

margin-bottom:8px;

font-weight:500;

}


input{

padding:15px;

border:none;

outline:none;

border-radius:15px;

background:#F4F7FA;

margin-bottom:25px;

font-size:15px;

}


input:focus{

border:2px solid
var(--secondary-blue);

}


button{

padding:15px;

border:none;

cursor:pointer;

border-radius:15px;

font-size:16px;

font-weight:600;

color:white;

background:

linear-gradient(
90deg,
#0077B6,
#00B4D8
);

transition:0.3s;

}


button:hover{

transform:translateY(-3px);

}


.login-link{

margin-top:25px;

text-align:center;

}


.login-link a{

text-decoration:none;

color:var(--primary-blue);

font-weight:600;

}


footer{

margin-top:25px;

text-align:center;

color:var(--dark-grey);

}


@keyframes fadeIn{

from{

opacity:0;
transform:
translateY(20px);

}


to{

opacity:1;
transform:
translateY(0);

}

}


@media(max-width:480px){


.forgot-card{

padding:25px;

}


.logo{

width:90px;

}


}